body{
    display: flex;
    justify-content: center;
    position: relative;
    margin-top: 80px;
    background-color: rgb(88, 88, 88);
}

#header{
    height: 80px;
    font-size: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top: 1px solid white;
    padding-left: 330px;
    padding-right: 330px;
    padding-bottom: 40px;
    margin-bottom: 0;
    border-radius: 30px;
    background-color: white;
    white-space: nowrap;
}

.clock{
    background-color: orangered;
    color: white;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    width: 1000px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 100px;
    margin-top: 80px;
    position: absolute;
}

@media (min-width: 480px) and (max-width: 720px) {
    #header{
        height: 80px;
        font-size: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-top: 1px solid white;
        padding-left: 37.5px;
        padding-right: 37.5px;
        padding-bottom: 40px;
        margin-bottom: 0;
        border-radius: 30px;
        background-color: white;
        white-space: nowrap;
    }
    
    .clock{
        background-color: orangered;
        color: white;
        border-bottom-left-radius: 30px;
        border-bottom-right-radius: 30px;
        width: 300px;
        height: 200px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 70px;
        margin-top: 80px;
        position: absolute;
    }
    
}

@media (min-width: 721px) and (max-width: 1024px) {
    #header{
        height: 80px;
        font-size: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-top: 1px solid white;
        padding-left: 80px;
        padding-right: 80px;
        padding-bottom: 40px;
        margin-bottom: 0;
        border-radius: 30px;
        background-color: white;
        white-space: nowrap;
    }
    
    .clock{
        background-color: orangered;
        color: white;
        border-bottom-left-radius: 30px;
        border-bottom-right-radius: 30px;
        width: 500px;
        height: 200px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 90px;
        margin-top: 80px;
        position: absolute;
    }
    
}