<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel='stylesheet' href="{{url_for('static', filename='styles.css')}}">
</head>
<body>
    <div id="header"><h1>Digital Clock</h1></div>
    <div class="clock" id="clock"><span id="hour">00</span>:<span id='minutes'>00</span></div>
    <script>
        function updateClock() {
            const clock = document.getElementById('clock');
            const now = new Date();
            const hour = String(now.getHours()).padStart(2, '0');
            const minutes = String(now.getMinutes()).padStart(2, '0');
            const seconds = String(now.getSeconds()).padStart(2, "0")
            clock.textContent = `${hour}:${minutes}:${seconds}`;
        }
        setInterval(updateClock, 1000);
        updateClock();
    </script>
</body>
</html>